In [26]:
import numpy as np
import pandas as pd
fuel_data = pd.read_csv ('C:\\Users\\Adiva Berakah\\Desktop\\FAITH FAVOUR\\Hamoye Datascience\\fuel_ferc1.csv') 
A = [1,2,3,4,5,6]
B = [13, 21, 34]
A.append(B)

In [25]:
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [18]:
np.eye(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [27]:
fuel_data

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590000,18.590,18.530,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592000,18.580,18.530,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130000,39.720,38.120,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950000,47.210,45.990,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000000,2.770,2.770,2.570
5,f1_fuel_1994_12_2_0_13,2,1994,e. c. gaston-unit 5,coal,ton,2124933.0,23.922000,44.240,43.250,1.850
6,f1_fuel_1994_12_2_1_1,2,1994,joseph m. farley,nuclear,kgU,2260.0,0.064094,28.770,0.000,0.450
7,f1_fuel_1994_12_2_1_10,2,1994,resondent's portion,coal,ton,5372133.0,24.840000,58.540,55.130,2.360
8,f1_fuel_1994_12_2_2_10,2,1994,respondent's portion,coal,ton,817520.0,24.290000,33.970,34.650,1.400
9,f1_fuel_1994_12_4_0_1,4,1994,units 1-3,coal,ton,1471233.0,22.484000,28.730,28.110,1.278
10,f1_fuel_1994_12_4_0_2,4,1994,units 1-3,gas,mcf,262720.0,1.026000,1.940,1.940,13.900
11,f1_fuel_1994_12_4_0_4,4,1994,unit 4,coal,ton,476779.0,22.428000,28.710,28.110,1.280
12,f1_fuel_1994_12_4_0_5,4,1994,unit 4,gas,mcf,6673.0,1.026000,1.940,1.940,1.900
13,f1_fuel_1994_12_6_0_1,6,1994,clinch river,coal,ton,1655558.0,25.038000,30.248,29.019,1.208
14,f1_fuel_1994_12_6_0_2,6,1994,clinch river,oil,bbl,6510.0,5.875338,32.130,23.444,5.469
15,f1_fuel_1994_12_6_0_4,6,1994,amos-apco share,coal,ton,3520831.0,24.508000,44.404,42.915,1.812
16,f1_fuel_1994_12_6_0_7,6,1994,amos-total,coal,ton,5327281.0,24.538000,44.312,42.940,1.806
17,f1_fuel_1994_12_6_0_10,6,1994,glen lyn,coal,ton,666975.0,25.836000,36.268,32.893,1.404
18,f1_fuel_1994_12_6_0_13,6,1994,kanawha river,coal,ton,391864.0,25.160000,46.024,42.034,1.829
19,f1_fuel_1994_12_6_0_14,6,1994,kanawha river,oil,bbl,3505.0,5.774958,33.321,26.280,5.770
20,f1_fuel_1994_12_6_1_7,6,1994,mountainr,coal,ton,2837040.0,24.526000,39.911,38.717,1.627
21,f1_fuel_1994_12_6_1_8,6,1994,mountainr,oil,bbl,50013.0,5.845644,30.319,23.884,5.187
22,f1_fuel_1994_12_6_1_10,6,1994,philip sporn-apco,coal,ton,383043.0,24.334000,39.850,35.856,1.638
23,f1_fuel_1994_12_6_1_11,6,1994,philip sporn-apco,oil,bbl,13969.0,5.742870,32.184,30.508,5.604
24,f1_fuel_1994_12_6_1_13,6,1994,philip sporn ttl plt,coal,ton,1338459.0,24.334000,40.144,35.793,1.650
25,f1_fuel_1994_12_6_1_14,6,1994,philip sporn ttl plt,oil,bbl,48750.0,5.742828,32.186,30.507,5.605
26,f1_fuel_1994_12_7_0_1,7,1994,"cholla units 1,2,3",coal,ton,2062799.0,19.970000,31.520,31.200,1.580
27,f1_fuel_1994_12_7_0_2,7,1994,"cholla units 1,2,3",oil,bbl,10088.0,5.851020,32.650,28.730,5.580
28,f1_fuel_1994_12_7_0_3,7,1994,"cholla units 1,2,3",gas,mcf,38086.0,0.880901,2.490,2.480,2.820
29,f1_fuel_1994_12_7_0_7,7,1994,4 corners,coal,ton,2599962.0,17.530000,21.170,20.860,1.210
...,...,...,...,...,...,...,...,...,...,...,...
29493,f1_fuel_2018_12_191_0_3,191,2018,tecumseh,gas,mcf,25325.0,1.033011,6.462,6.462,6.255
29494,f1_fuel_2018_12_191_0_5,191,2018,gordon evans ctf,gas,mcf,2073725.0,1.038883,4.462,4.462,4.295
29495,f1_fuel_2018_12_191_0_6,191,2018,gordon evans ctf,oil,bbl,10030.0,5.846053,94.777,94.900,16.212
29496,f1_fuel_2018_12_191_0_8,191,2018,spring creek,gas,mcf,2461276.0,1.026999,2.328,2.328,2.267
29497,f1_fuel_2018_12_191_0_11,191,2018,emporia ctf,gas,mcf,5853049.0,1.045818,3.681,3.681,3.520
29498,f1_fuel_2018_12_191_1_2,191,2018,hutchinson,gas,mcf,170018.0,1.019451,4.536,4.536,4.450
29499,f1_fuel_2018_12_191_1_3,191,2018,hutchinson,oil,bbl,527.0,5.816407,102.110,0.000,17.556
29500,f1_fuel_2018_12_191_1_6,191,2018,hutchinson w/diesel,oil,bbl,36.0,5.795044,102.488,0.000,17.685
29501,f1_fuel_2018_12_191_1_8,191,2018,jeffrey (jec),coal,ton,4189920.0,16.673825,29.799,29.970,1.787
29502,f1_fuel_2018_12_191_1_9,191,2018,jeffrey (jec),oil,bbl,19764.0,5.835849,88.553,101.010,15.174
29503,f1_fuel_2018_12_191_1_14,191,2018,lawrence,coal,ton,1761218.0,17.888320,26.775,27.392,1.497
29504,f1_fuel_2018_12_191_1_15,191,2018,lawrence,gas,mcf,88846.0,1.031133,6.274,6.274,6.084
29505,f1_fuel_2018_12_432_0_2,432,2018,pueblo diesels,oil,bbl,81.0,5.694696,101.330,101.330,17.790
29506,f1_fuel_2018_12_432_0_5,432,2018,airport - pueblo,oil,bbl,133.0,5.756940,95.530,95.530,16.590
29507,f1_fuel_2018_12_432_0_8,432,2018,rocky ford diesels,oil,bbl,320.0,5.719602,98.180,98.150,17.160
29508,f1_fuel_2018_12_432_0_11,432,2018,airport - units 1&2,gas,mcf,2154971.0,1.130000,255.000,3.780,3.350
29509,f1_fuel_2018_12_432_0_14,432,2018,airport unit 6,gas,mcf,162132.0,1.130000,2.460,3.970,3.510
29510,f1_fuel_2018_12_403_0_2,403,2018,wygen 2,coal,ton,569800.0,16.110000,14.760,0.810,1.130
29511,f1_fuel_2018_12_403_0_6,403,2018,cheyenne prairie 42%,gas,mcf,613882.0,1.050000,3.520,3.520,3.360
29512,f1_fuel_2018_12_403_0_9,403,2018,cheyenne prairie,gas,mcf,19655.0,1.050000,8.910,8.910,8.480
29513,f1_fuel_2018_12_12_0_2,12,2018,ben french station,gas,mcf,39679.0,1.059000,5.680,5.680,5.360
29514,f1_fuel_2018_12_12_0_4,12,2018,ben french station,oil,bbl,487.0,5.831070,0.000,0.000,9.970
29515,f1_fuel_2018_12_12_0_7,12,2018,neil simpson unit 2,gas,mcf,18370.0,1.059000,8.330,8.330,15.930
29516,f1_fuel_2018_12_12_0_8,12,2018,neil simpson unit 2,coal,ton,491913.0,16.100000,14.760,17.720,1.100
29517,f1_fuel_2018_12_12_0_10,12,2018,wyodak - bhp 20%,coal,ton,409637.0,16.068000,13.690,14.310,0.890
29518,f1_fuel_2018_12_12_0_13,12,2018,neil simpson ct #1,gas,mcf,18799.0,1.059000,4.780,4.780,9.030
29519,f1_fuel_2018_12_12_1_1,12,2018,cheyenne prairie 58%,gas,mcf,806730.0,1.050000,3.650,3.650,6.950
29520,f1_fuel_2018_12_12_1_10,12,2018,lange ct facility,gas,mcf,104554.0,1.060000,4.770,4.770,8.990
29521,f1_fuel_2018_12_12_1_13,12,2018,wygen 3 bhp 52%,coal,ton,315945.0,16.108000,3.060,14.760,1.110
29522,f1_fuel_2018_12_12_1_14,12,2018,wygen 3 bhp 52%,gas,mcf,17853.0,1.059000,0.000,0.000,11.680

In [128]:
fuel_data.groupby('report_year').sum()

,utility_id_ferc1,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
report_year,,,,,,
1994,131059,3.364163e+09,13138.051620,263292.115,7.859053e+04,3812.41711
1995,132277,4.458192e+09,12784.441067,425661.488,3.931506e+04,3445.47398
1996,118281,2.768693e+09,11726.508078,86425.275,1.000602e+07,2933.11773
1997,118553,3.077973e+09,11210.909740,163533.452,1.218738e+07,3406.15391
1998,121599,3.617070e+09,11850.394701,140238.656,3.178799e+05,3072.87907
1999,113634,3.445345e+09,11086.829479,126056.285,2.682921e+04,2877.26381
2000,152518,3.394100e+09,12665.204661,326495.434,1.352903e+06,5778.13677
2001,153935,3.147821e+09,11351.712598,180365.641,8.142834e+04,6254.76430
2002,145027,2.585502e+09,10007.324112,121921.135,5.735121e+04,7502.66915
2003,149317,2.287121e+09,10176.936748,149175.726,6.740849e+04,8748.18305
2004,144379,2.124797e+09,9932.250643,184637.699,1.663129e+05,10062.38345
2005,153585,2.244703e+09,10324.548458,135924.139,5.258506e+04,11924.89239
2006,145653,2.432879e+09,10115.646333,188142.032,4.805125e+04,12852.49312
2007,146675,2.573119e+09,10146.862089,256114.312,5.476283e+04,13569.26878
2008,148324,2.513047e+09,9692.425107,314312.022,7.194631e+04,15583.46077
2009,144366,2.633401e+09,9394.970149,263584.566,7.975923e+05,12976.87791
2010,148789,3.056312e+09,9552.091071,331581.467,1.158381e+05,10783.08510
2011,150126,3.052052e+09,9654.865318,374175.603,7.412059e+04,11454.61288
2012,150117,3.414637e+09,9690.506589,321693.544,7.581617e+04,10949.46763
2013,146377,3.287065e+09,9348.631876,306933.236,2.065968e+05,11160.56228
2014,151368,3.161710e+09,8885.938884,518002.469,2.256952e+05,11785.73171
2015,140551,3.650763e+09,7889.076813,260060.984,3.569033e+05,8803.41655
2016,137643,3.818861e+09,7079.257780,255484.814,1.074344e+05,7150.74370
2017,130209,3.329380e+09,6733.883648,244557.823,4.587348e+04,366155.19606
2018,127120,3.974124e+09,6273.315699,221575.426,4.748057e+05,6879.19432

In [129]:
fuel_cost_per_unit_burn_per_year = fuel_data.groupby('report_year')['fuel_cost_per_unit_burned'].sum()
fuel_cost_per_unit_burn_per_year

report_year
1994    263292.115
1995    425661.488
1996     86425.275
1997    163533.452
1998    140238.656
1999    126056.285
2000    326495.434
2001    180365.641
2002    121921.135
2003    149175.726
2004    184637.699
2005    135924.139
2006    188142.032
2007    256114.312
2008    314312.022
2009    263584.566
2010    331581.467
2011    374175.603
2012    321693.544
2013    306933.236
2014    518002.469
2015    260060.984
2016    255484.814
2017    244557.823
2018    221575.426
Name: fuel_cost_per_unit_burned, dtype: float64

In [134]:
#percentage_change_in_fuel_cost_per_unit_burn
fuel_cost_per_unit_burn_1994 = fuel_cost_per_unit_burn_per_year[0:1][1994]
fuel_cost_per_unit_burn_1998 = fuel_cost_per_unit_burn_per_year[4:5][1998]
percentage_change_in_fuel_cost_per_unit_burn = ((fuel_cost_per_unit_burn_1998 - fuel_cost_per_unit_burn_1994)/fuel_cost_per_unit_burn_1994) * 100
percentage_change_in_fuel_cost_per_unit_burn

-46.73647708743574

In [161]:
fuel_data.groupby('report_year').min()

,record_id,utility_id_ferc1,plant_name_ferc1,fuel_type_code_pudl,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
report_year,,,,,,,,,
1994,f1_fuel_1994_12_100_0_1,1,(1)sta98,coal,2.0,0.000006,-57.490,-58.800,-3.003
1995,f1_fuel_1995_12_100_0_1,1,(n) contra costa,coal,4.0,0.000006,-85.760,-85.640,-3.532
1996,f1_fuel_1996_12_100_0_1,1,* harrison (3),coal,8.0,0.000006,-45.130,-44.050,-41.501
1997,f1_fuel_1997_12_100_0_1,1,* ar nuclear one,coal,9.0,0.000006,-38.966,-38.972,-3.255
1998,f1_fuel_1998_12_100_0_1,1,*bridgeport harbor,coal,1.0,0.000006,-43.712,-43.747,-3.781
1999,f1_fuel_1999_12_100_0_1,1,*dolet hills (3),coal,2.0,0.000006,-33.014,-32.970,-2.851
2000,f1_fuel_2000_12_100_0_1,1,*dolet hills (3),coal,1.0,0.000001,-276.080,-174.670,-8.906
2001,f1_fuel_2001_12_100_0_1,1,*dolet hills (3),coal,1.0,0.000001,-37.809,-37.790,-3.312
2002,f1_fuel_2002_12_100_0_1,1,*dolet hills (3),coal,1.0,0.000001,-59.680,-60.290,-3.541
2003,f1_fuel_2003_12_100_0_1,1,*dolet hills (3),coal,2.0,0.000001,-119.040,-118.340,-5.750
2004,f1_fuel_2004_12_100_0_1,1,*dolet hills (3),coal,1.0,0.000001,-30.032,-313.410,-2.484
2005,f1_fuel_2005_12_100_0_1,1,*dolet hills (3),coal,1.0,0.000001,-31.501,-31.501,-2.609
2006,f1_fuel_2006_12_100_0_10,1,*dolet hills (3),coal,1.0,0.000001,-24.295,-24.295,-2.076
2007,f1_fuel_2007_12_100_0_1,1,*dolet hills (3),coal,1.0,0.000001,-3.810,-488.054,-0.350
2008,f1_fuel_2008_12_100_0_1,1,*dolet hills (3),coal,1.0,0.000001,-3.330,-874.937,-0.280
2009,f1_fuel_2009_12_100_0_1,1,*dolet hills (3),coal,1.0,0.000001,0.000,0.000,0.433
2010,f1_fuel_2010_12_100_0_1,1,*dolet hills (3),coal,1.0,0.000001,0.000,-7.295,0.071
2011,f1_fuel_2011_12_100_0_1,1,*dolet hills (3),coal,2.0,0.000001,-70.884,-43.419,-5.273
2012,f1_fuel_2012_12_100_0_1,1,*dolet hills (3),coal,1.0,0.000001,0.000,-91.900,0.377
2013,f1_fuel_2013_12_100_0_1,1,*dolet hills (3),coal,1.0,0.000001,0.000,-93.470,0.411
2014,f1_fuel_2014_12_100_0_11,1,*dolet hills (3),coal,2.0,0.000001,0.000,0.000,0.467
2015,f1_fuel_2015_12_100_0_10,1,*dolet hills (3),coal,4.0,0.000001,0.000,-170.187,0.084
2016,f1_fuel_2016_12_100_0_1,1,*dolet hills (3),coal,2.0,0.000001,-3.946,-40.725,-0.416
2017,f1_fuel_2017_12_100_0_11,1,*dolet hills (3),coal,1.0,0.000001,0.000,0.000,0.050
2018,f1_fuel_2018_12_100_0_11,1,*dolet hills (3),coal,3.0,0.000001,0.000,0.000,0.548

In [107]:
average_fuel_cost_per_unit_delivered_per_year = fuel_data.groupby('report_year')['fuel_cost_per_unit_delivered'].mean()
average_fuel_cost_per_unit_delivered_per_year

report_year
1994       63.636060
1995       32.735269
1996     9196.705948
1997    11140.197239
1998      287.154420
1999       25.551627
2000      985.362877
2001       60.050396
2002       47.594361
2003       55.663493
2004      139.524275
2005       41.438184
2006       38.657484
2007       43.325023
2008       58.588197
2009      652.694163
2010       91.862105
2011       59.774667
2012       60.994502
2013      172.307591
2014      192.737183
2015      326.535511
2016      103.901761
2017       46.196861
2018      499.269966
Name: fuel_cost_per_unit_delivered, dtype: float64

In [116]:
year_with_highest_average_fuel_cost_per_unit_delivered= average_fuel_cost_per_unit_delivered_per_year[3:4]
year_with_highest_average_fuel_cost_per_unit_delivered

report_year
1997    11140.197239
Name: fuel_cost_per_unit_delivered, dtype: float64

In [142]:
fuel_data.notnull().sum()

record_id                       29523
utility_id_ferc1                29523
report_year                     29523
plant_name_ferc1                29523
fuel_type_code_pudl             29523
fuel_unit                       29343
fuel_qty_burned                 29523
fuel_mmbtu_per_unit             29523
fuel_cost_per_unit_burned       29523
fuel_cost_per_unit_delivered    29523
fuel_cost_per_mmbtu             29523
dtype: int64

In [152]:
#skewness of fuel quantity burned
fuel_qty_burned_per_year = fuel_data['fuel_qty_burned'].skew()
fuel_qty_burned_per_year. round(2)

15.85

In [154]:
# Kurtoise of fuel quantity burned
fuel_qty_burned_per_year = fuel_data['fuel_qty_burned'].kurt()
fuel_qty_burned_per_year. round(2)

651.37

In [162]:
fuel_data['fuel_mmbtu_per_unit'].std()

10.600220307806886

In [164]:
fuel_data['fuel_mmbtu_per_unit'].describe()

count    29523.000000
mean         8.492111
std         10.600220
min          0.000001
25%          1.024000
50%          5.762694
75%         17.006000
max        341.260000
Name: fuel_mmbtu_per_unit, dtype: float64

In [170]:
fuel_data.groupby('fuel_type_code_pudl')['fuel_cost_per_unit_burned'].sum()[4:5]

fuel_type_code_pudl
other    3048.394
Name: fuel_cost_per_unit_burned, dtype: float64

In [172]:
A = [1,2,3,4,5,6] 
B = [13, 21, 34]
A.append(B)
A

[1, 2, 3, 4, 5, 6, [13, 21, 34]]

In [173]:
A = [1,2,3,4,5,6] 
B = [13, 21, 34]
A.extend(B)
A

[1, 2, 3, 4, 5, 6, 13, 21, 34]